@font-face 
  font-family "GalanoBold"
  src url("../src/fonts/galano_grotesque_bold.ttf")

@font-face 
  font-family "GalanoLight"
  src url("../src/fonts/Galano_Grotesque_Light.ttf")

@font-face 
  font-family "SourceSansPro"
  src url("../src/fonts/SourceSansPro-SemiBold.ttf")
  font-weight 8000

@font-face 
  font-family "SourceSansPro"
  src url("../src/fonts/SourceSansPro-Italic.ttf")
  font-style italic

@font-face 
  font-family "SourceSansPro"
  src url("../src/fonts/SourceSansPro-Regular.ttf")
  font-weight 400
