// Import
@import 'fonts.styl'

// Variables
$mine-shaft = #333
$dark-purple = #422973
$gold = #ffd000
$header-height = 60px
$padding-headerItems = 10px
$transition-color = color .3s

$h1-size = 55px;
$h2-size = 45px;
$h3-size = 37px;
$h4-size = 30px;
$h5-size = 25px;


html, body 
  font-family Helvetica
  color $mine-shaft

body
  background $gold


  .app-header 
    width 100%
    height $header-height
    font-family GalanoBold
    display flex
    background $dark-purple
    color #fefefe
    justify-content flex-end
    align-items center

    &-nav
      display flex
      align-items center
      &__logo
        position absolute
        width 30px
        height 30px
        top 15px
        left 15px
        cursor pointer
      &__profil
        display flex
        justify-content space-around
        align-items center
        position relative
        &__pic_container
          width 30px
          height 30px
          margin-left 20px 
          border-radius 100%
          overflow hidden
          &__img 
            width 30px
            height auto
        &__displayer--hidden
          flex-direction column
          justify-content center
          position absolute
          bottom -70px
          display none
          left 0
          &__container
            background $dark-purple
            padding $padding-headerItems
            text-decoration none
            &__profil
              transition $transition-color
              &:hover
                color $gold
            &__logout
              transition $transition-color
              &:hover
                color red

                
        
      &__item
        cursor pointer
        padding $padding-headerItems
        margin-right 30px
        text-decoration none
        transition $transition-color
        &:hover:not(.app-header-nav__profil)
          color $gold



  .app-home
    height calc(100vh - 60px)
    display flex
    flex-direction column
    justify-content center
    align-items center
    font-family GalanoBold
    &-title
      font-size 120px
      text-transform uppercase
      color $dark-purple
      margin-top 30px
      transform translateY(-20px)
      text-shadow:5px 3px 3px $mine-shaft
      &__word
        color #fefefe
    &-headline
      color $mine-shaft
      font-size 20px
    &-buttons
      width 250px
      display flex
      justify-content space-between
      button
        margin-top 50px
        padding 10px
        border 2px solid #555
        border-radius 5px
        cursor pointer
        background #fefefe
        transition transform .3s 
        will-change transform
        &:hover
          transform translateY(-3px)
          box-shadow 0px 1px 4px #999



  .app-loginform
    height 480px
  .app-logerror
    color red
    font-weight bold
    margin-bottom 5px
    font-size 12px
  .app-subform
    height 570px
  .app-loginform, .app-subform
    width 400px
    margin 50px auto
    padding 50px 70px
    border 3px solid $mine-shaft
    border-radius 10px
    color $mine-shaft
    background #fefefe
    &-title
      font-family GalanoBold
      font-size 25px
      color $dark-purple
      text-align center
      margin-bottom 20px
      border-bottom 2px solid $mine-shaft
      padding-bottom 25px
    label
      font-size 10px
      color $dark-purple
    input
      width 100%
      height 40px
      margin 10px 0 20px 0
      display block
      background #eee
      border-radius 2px
      padding-left 5px
      border 1px solid $mine-shaft
    &-button
      width 80px
      font-size 12px
      border 1px solid $mine-shaft
      border-radius 3px
      display flex
      margin 30px 90px 0 90px //To fix
      text-align center
      cursor pointer
      padding 10px 10px
      transition transform .2s
      will-change transform
      &:hover
        transform translateY(-2px)
        box-shadow 0 2px 1px rgba(200, 200, 200, .7)
    &-register
      margin-top 50px
      font-size 15px

  .app-registrated
    width 75vw
    font-family GalanoBold
    font-size 20px
    margin 0 auto
    text-align center
    margin-top 30vh
    p:nth-child(1)
      font-size 40px
      margin-bottom 30px

  .app-loader
    display flex
    align-items center
    justify-content center
    height 100%
    width 100%
    position fixed
    background $gold
    top 0
    left 0
    z-index 800
    transition opacity 0.5s
    will-change opacity

    &__element
      width 80%
      height 80%
      display block
      transform translate3d(0, 0, 0)
      text-align center

  .app-about
    width 500px
    margin 10vh 0 0 10vw
    &-title
      font-family GalanoBold
      font-size $h1-size
      width 500px
      text-shadow 0 1px 1px rgba(200, 200, 200, 0.5)
      @media (max-width: 600px)
        width 350px
        @media (max-width: 300px)
          width 300px
      &__colored
          color $mine-shaft
    &-description
      margin-top 60px
      line-height 25px
      font-size 13px
      @media (max-width: 600px)
        width 350px
        @media (max-width: 500px)
          width 300px
        font-size 20px
      &__graph
        margin-top 40px
    &-image
      height 100vh
      width auto
      z-index -1
      box-shadow -1px 0 1px rgba(150, 150, 150, .2)
      position absolute
      top 0
      right 0
      @media (max-width: 980px)
        display none
    &-register
      margin-top 60px
      font-size 18px
      display flex
      justify-content flex-end
      text-decoration none
      color $dark-purple
      font-weight bold
      &:hover .app-about-register__arrow
        transform translateX(7px)
      &__arrow
        transition transform .3s
        will-change transform
        margin-left 8px

  .app-posts
    width 100vw
    height 100%
    margin-top 60px
    &-title
      font-family GalanoBold
      font-size $h1-size
      margin 10vh 0 0 10vw
      padding-bottom 60px
    &-create
      background #fefefe
      margin 10vh 0 0 10vw
      font-weight bold
      text-decoration none
      border 2px solid $mine-shaft
      border-radius 10px
      padding 10px
    &__filter
      display none !important
      width 80vw
      margin 40px auto
      padding 20px
      display flex
      justify-content center
      align-items center
      position relative
      border-bottom 2px solid $mine-shaft
      &__label
        font-weight bold
        position relative
      &__select
        display flex
        align-items center
        height 30px
        margin 10px 0 10px 10px
        padding 0 25px 0 10px
        display block
        border 1px solid $mine-shaft
        background #fefefe
        border-radius 2px
      &__arrow
        position absolute
        top 0
        right -100px
        z-index 1
    &-container
      width 80vw
      display flex
      flex-wrap wrap
      justify-content space-between
      margin 80px auto
      &__post
        width 300px
        height 200px
        padding 15px
        display flex
        margin-bottom 30px
        overflow hidden
        position relative
        background #fefefe
        border-radius 5px
        border 2px solid $mine-shaft
        &__visual
          width 70px
          height 70px
          margin-right 25px
          &-element
            width 70px
            height 70px
        &__text
          width 200px
          font-size 15px
          &__category
            font-size 11px
            text-transform uppercase
            font-weight bold
            color #999
            margin 10px 0 20px 0
          &__subject
            &-title
              font-weight bold
            &-location
              font-weight bold
          &__availability
            margin-top 10px
            font-size 13px
            margin-bottom 20px
          &__creation
            font-size 12px
            font-style italic
            font-weight thin
          &-button
            cursor pointer
            position absolute
            border-radius 10px
            padding 5px 15px
            background $dark-purple
            right 35px
            bottom 20px
            button
              color #fefefe
              font-weight bold
              cursor pointer


  .app-post
    width 100vw
    display flex
    justify-content center
    margin-top 50px
    margin-bottom 30px
    &-container
      position relative
      width 80vw
      background #fefefe
      border-radius 8px  
      &-map 
        display flex
        justify-content center
        padding-bottom 90px
      &-content
        margin 10vh 10vw 10vh 10vw
        &__category
          font-family SourceSansPro
          font-weight bold
          color grey
          margin-bottom 10px
        &__title
          font-family GalanoBold
          font-size $h1-size
          padding-bottom 20px
          @media (max-width: 500px)
            font-size $h3-size
        &__location
          margin-bottom 2px
        &__date
          margin-bottom 10px
        &__description
          font-size 14px
          margin-top 50px
          margin-bottom 10px
          font-style italic
        &__name
          font-size 14px
          margin-bottom 20px
        &-contact
          border-top 1px solid $mine-shaft
          margin-top 40px
          padding-top 20px
          h3
            font-weight bold
            font-size $h5-size
            margin-bottom 20px
          &__email
            margin-bottom 5px
            font-size 14px
          &__phone
            margin-bottom 20px
            font-size 14px
        &__date_creation
          position absolute
          bottom 10px
          right 30px
          font-size 12px
          font-style italic
          color grey
          


 .app-postcreation
    width 400px
    margin 50px auto
    padding 50px 70px
    border 3px solid $mine-shaft
    border-radius 10px
    color $mine-shaft
    background #fefefe
    &-title
      font-family GalanoBold
      font-size 25px
      color $dark-purple
      text-align center
      margin-bottom 20px
      border-bottom 2px solid $mine-shaft
      padding-bottom 25px
    label
      font-size 10px
      color $dark-purple
    textarea
      height 80px
      font-size 12px
    input 
      height 40px
      display flex
      align-items center
    input, textarea
      width 100%
      margin 10px 0 20px 0
      display block
      background #eee
      border-radius 2px
      padding-left 5px
      border 1px solid $mine-shaft
    select
        display flex
        align-items center
        padding-left 10px
        width 100%
        height 40px
        margin 10px 0 20px 0
        display block
        border 1px solid $mine-shaft
        background #eee
        border-radius 2px
    &-button
      width 80px
      font-size 12px
      border 1px solid $mine-shaft
      border-radius 3px
      display flex
      justify-content center
      margin 30px 90px 0 90px
      cursor pointer
      padding 10px 10px
      transition transform .2s
      will-change transform
      margin-bottom 30px
      &:hover
        transform translateY(-2px)
        box-shadow 0 2px 1px rgba(200, 200, 200, .7)
    &-indication
      margin-top 10px
      font-size 10px
      font-style italic
      line-height 0px


  .app-admin
    &-title
      font-family GalanoBold
      font-size $h1-size
      margin 10vh 0 0 10vw
      padding-bottom 60px
    &-none
      margin 10vh 0 0 10vw
    &-post
      width 300px
      padding 20px
      background #fefefe
      border 2px solid $mine-shaft
      border-radius 5px
      margin 10px 0 50px 10vw
      &__data
        font-weight bold
      &__button
        margin-top 10px
        display flex
        &-element
          border 1px solid #999
          border-radius 5px
          padding 5px
          text-decoration none
          cursor pointer
          background #fefefe
          color purple
          button
            cursor pointer

  .app-profil
      height 100%
      margin-top 30px
      &-title
        width 400px
        margin 10vh 0 0 10vw
        font-family GalanoBold
        font-size $h1-size
      &-container
        display flex
        margin-top 80px
        border-bottom 1px solid #999
        box-shadow 10px 10px 30px #999
        margin 10vh 0 0 5vw
        padding 40px 60px
        &-personnal
          width 40vw
          &-form
            font-size 8px
            &__submit
              margin-top 10px
              font-size 10px
              padding 10px
              display block
              background #fefefe
              border 1px solid rgba(200, 200, 200, .6)
              border-radius 5px
              transition transform .3s
              will-change transform
              cursor pointer
              margin-bottom 10px
              &:hover
                transform translateY(-2px)
                box-shadow 0 1px 1px #ccc

          &__pic
            width 140px
            height auto
          &__nopic
            width 80px
            margin-bottom 10px
            color red
            border 1px solid $mine-shaft
            padding 10px
          &__name
            font-family GalanoBold
            font-size $h4-size
            padding-bottom 1px
            color purple
          &__date
            font-size 12px
            font-style italic
            margin-bottom 20px
        &-secondary
          margin-top 50px
          width 400px
          &-achievement
            &__medals
              height 100px
              &__title
                font-family GalanoBold
                font-size $h5-size
                margin-bottom 20px
            &__comments
              height 100px
              &__title
                font-family GalanoBold
                font-size $h5-size
                margin-bottom 20px


  .app-unfindable
    font-family GalanoBold
    position absolute
    top 0
    left 0
    z-index -1
    width 100vw
    height 100vh
    display flex
    justify-content center
    align-items center
    flex-direction column
    
    &__404
      font-size 150px
    &__page
      font-size 50px