@font-face {
  font-family: "GalanoBold";
  src: url("../src/fonts/galano_grotesque_bold.ttf");
}
@font-face {
  font-family: "GalanoLight";
  src: url("../src/fonts/Galano_Grotesque_Light.ttf");
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../src/fonts/SourceSansPro-SemiBold.ttf");
  font-weight: 8000;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../src/fonts/SourceSansPro-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../src/fonts/SourceSansPro-Regular.ttf");
  font-weight: 400;
}
html,
body {
  font-family: Helvetica;
  color: #333;
  background-size: cover;
}
body .app-header {
  width: 100%;
  height: 60px;
  font-family: GalanoBold;
  border-bottom: 1px solid #333;
  display: flex;
  background: #333;
  color: #fefefe;
  justify-content: flex-end;
  align-items: center;
}
body .app-header-nav {
  display: flex;
  align-items: center;
}
body .app-header-nav__profil {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
body .app-header-nav__profil__pic_container {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  border-radius: 100%;
  overflow: hidden;
}
body .app-header-nav__profil__pic_container__img {
  width: 30px;
  height: auto;
}
body .app-header-nav__profil__displayer--hidden {
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: -70px;
  display: none;
  left: 0;
}
body .app-header-nav__profil__displayer--hidden__container {
  background: #333;
  padding: 10px;
  text-decoration: none;
}
body .app-header-nav__profil__displayer--hidden__container__profil {
  transition: color 0.3s;
}
body .app-header-nav__profil__displayer--hidden__container__profil:hover {
  color: #ffd000;
}
body .app-header-nav__profil__displayer--hidden__container__logout {
  transition: color 0.3s;
}
body .app-header-nav__profil__displayer--hidden__container__logout:hover {
  color: #f00;
}
body .app-header-nav__item {
  cursor: pointer;
  padding: 10px;
  margin-right: 30px;
  text-decoration: none;
  transition: color 0.3s;
}
body .app-header-nav__item:hover:not(.app-header-nav__profil) {
  color: #ffd000;
}
body .app-loginform {
  height: 480px;
}
body .app-logerror {
  color: #f00;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 12px;
}
body .app-subform {
  height: 570px;
}
body .app-loginform,
body .app-subform {
  width: 400px;
  margin: 50px auto;
  padding: 50px 70px;
  border: 2px solid #333;
  border-radius: 10px;
  color: #333;
}
body .app-loginform-title,
body .app-subform-title {
  font-family: GalanoBold;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
  padding-bottom: 25px;
}
body .app-loginform label,
body .app-subform label {
  font-size: 10px;
}
body .app-loginform input,
body .app-subform input {
  width: 100%;
  height: 40px;
  margin: 10px 0 20px 0;
  display: block;
  border: 1px solid #333;
  border-radius: 2px;
  padding-left: 5px;
}
body .app-loginform-button,
body .app-subform-button {
  width: 80px;
  font-size: 12px;
  border: 1px solid #333;
  border-radius: 3px;
  display: flex;
  margin: 30px 90px 0 90px;
  text-align: center;
  cursor: pointer;
  padding: 10px 10px;
  transition: transform 0.2s;
  will-change: transform;
}
body .app-loginform-button:hover,
body .app-subform-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 1px rgba(200,200,200,0.7);
}
body .app-loginform-register,
body .app-subform-register {
  margin-top: 50px;
  font-size: 15px;
}
body .app-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background: #fefefe;
  top: 0;
  left: 0;
  z-index: 800;
  transition: opacity 0.5s;
  will-change: opacity;
}
body .app-loader__element {
  width: 80%;
  height: 80%;
  display: block;
  transform: translate3d(0, 0, 0);
  text-align: center;
}
body .app-unfindable {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  font-size: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .app-unfindable__indication {
  font-size: 30px;
}
body .app-about {
  width: 500px;
  margin: 10vh 0 0 10vw;
}
body .app-about-title {
  font-family: GalanoBold;
  font-size: 55px;
  width: 500px;
  text-shadow: 0 1px 1px rgba(200,200,200,0.5);
}
body .app-about-title__colored {
  color: #ffd000;
}
body .app-about-description {
  margin-top: 60px;
  line-height: 25px;
  font-size: 13px;
}
body .app-about-description__graph {
  margin-top: 40px;
}
body .app-about-image {
  height: 100vh;
  width: auto;
  z-index: -1;
  box-shadow: -1px 0 1px rgba(150,150,150,0.2);
  position: absolute;
  top: 0;
  right: 0;
}
body .app-about-register {
  margin-top: 60px;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: #ffd000;
  font-weight: bold;
}
body .app-about-register:hover .app-about-register__arrow {
  transform: translateX(7px);
}
body .app-about-register__arrow {
  transition: transform 0.3s;
  will-change: transform;
  margin-left: 8px;
}
body .app-posts {
  width: 100vw;
  height: 100%;
  margin-top: 60px;
}
body .app-posts-title {
  font-family: GalanoBold;
  font-size: 55px;
  margin: 10vh 0 0 10vw;
  padding-bottom: 60px;
}
body .app-posts__filter {
  width: 80vw;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #333;
}
body .app-posts__filter__label {
  font-weight: bold;
  position: relative;
}
body .app-posts__filter__select {
  display: flex;
  align-items: center;
  height: 30px;
  margin: 10px 0 10px 10px;
  padding: 0 25px 0 10px;
  display: block;
  border: 1px solid #333;
  border-radius: 2px;
}
body .app-posts__filter__arrow {
  position: absolute;
  top: 0;
  right: -100px;
  z-index: -1;
}
body .app-posts-container {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 30px auto;
}
body .app-posts-container__post {
  width: 25vw;
  height: 15vw;
  background: #f00;
  border: 2px solid #333;
  cursor: pointer;
}
