@import 'fonts.styl'
$mine-shaft = #333
$header-height = 8%

html, body 
  font-family GalanoBold
  color $mine-shaft

body
  .app-header 
    width 100%
    height $header-height
    border-bottom 1px solid $mine-shaft
    display flex
    justify-content flex-end
    align-items center

    &-nav
      &__item
        cursor pointer
        padding 10px
        margin-right 30px
        text-decoration none
        transition color .5s
        &:hover
          color blue

  .app-loader
    display flex
    align-items center
    justify-content center
    height 100%
    width 100%
    position fixed
    background #fefefe
    top 0
    left 0
    z-index 800
    transition opacity 0.5s

    &__element
      width 80%
      height 80%
      display block
      transform translate3d(0, 0, 0)
      text-align center

  .app-unfindable
    position absolute
    top 0
    left 0
    z-index -1
    width 100vw
    height 100vh
    font-size 200px
    display flex
    justify-content center
    align-items center
    flex-direction column
    
    &__indication
      font-size 30px